:root {
    /* - Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%) */
    --custom-blue-200: hsl(243, 100%, 93%);
    --custom-blue-850: hsl(228, 56%, 26%);
    --custom-blue-950: hsl(229, 57%, 11%);
    --custom-grayish-blue: hsl(229, 7%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-block-end: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.body {
    min-height: 100vh;
    min-width: 375px;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 14px;
    background-image: url("images/bg-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-text-blue-200 {
    color: var(--custom-blue-200);
}

.custom-bg-blue-850 {
    background-color: var(--custom-blue-850);
}

.custom-bg-blue-950 {
    background-color: var(--custom-blue-950);
}

.custom-text-grayish-blue {
    color: var(--custom-grayish-blue);
}

.raleway-400 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-700 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.progress {
    --bs-progress-bg: var(--custom-blue-950);
}

.progress-bar {
    background: linear-gradient(
        to right,
        hsl(6, 100%, 80%),
        hsl(335, 100%, 65%)
    );
}

.blue-950-border {
    border-width: 2px;
    border-style: solid;
    border-color: var(--custom-blue-950);
}

@media screen and (min-width: 48em) {
    .main {
        padding-inline: 10rem !important;
    }
}

@media screen and (min-width: 62em) {
    .main {
        padding-inline: 3rem !important;
    }

    .body {
        background-color: var(--custom-blue-950);
        background-image: url("images/bg-desktop.png");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100% 55%;
        min-height: 100vh;
    }

    .custom-badge {
        top: -70px !important;
        left: calc(100% - 5.5rem) !important;
        border-bottom-right-radius: 0 !important;
    }

    .custom-badge::after {
        content: "";
        display: block;
        padding: 15px;
        background-color: white;
        position: absolute;
        top: 2.5rem;
        bottom: 0;
        right: 0;
        transform: skewY(50deg);
    }
}

@media screen and (min-width: 75em) {
    .main {
        padding-inline: 10rem !important;
    }
}
