/* || General Styles */

:root {
    --primary-green-500: hsl(171, 66%, 44%);
    --primary-green-600: hsl(171, 66%, 36%);
    --primary-blue-100: hsl(233, 100%, 69%);
    --primary-blue-200: hsl(233, 100%, 61%);
    --neutral-gray-700: hsl(210, 10%, 33%);
    --neutral-gray-500: hsl(201, 11%, 66%);
    --neutral-cool-gray-100: hsl(201, 11%, 96%);
    --font-base-size: 18px;
    --main-font-weight-regular: 400;
    --main-font-weight-semibold: 600;
    --border-radius-24: 24px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: var(--font-base-size);
    font-weight: var(--main-font-weight-regular);
    font-style: normal;
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: var(--main-font-weight-semibold);
    font-style: normal;
    margin: 0;
}

p {
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-block: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* || Utilities */

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

/* || Header */

.header {
    background-image: url("images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 4rem;
}

.header__logo {
    max-width: 100%;
    width: 40%;
}

/* || Main */

.main > * + * {
    margin-top: 5rem;
}

/* || Section */

.section {
    padding-inline: 3rem;
}

.section * + * {
    margin-block-start: 1rem;
}

.section__heading {
    color: var(--neutral-gray-700);
    text-align: center;
}

.section__text {
    color: var(--neutral-gray-500);
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.5;
    padding-inline: 0.25rem;
}

.section__image {
    max-width: 100%;
    margin-top: 3.5rem;
}

.section__footer {
    margin-block-start: 2rem;
    padding-inline: 0.5rem;
}

.section__action-button {
    color: white;
    background-color: var(--primary-green-500);
    font-size: 0.9rem;
    font-weight: var(--main-font-weight-semibold);
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: var(--border-radius-24);
    padding-block: 0.75rem;
    box-shadow: 0 2px var(--primary-green-600);
}

.section__action-button--blue {
    background-color: var(--primary-blue-100);
    box-shadow: 0 2px var(--primary-blue-200);
}

/* || Container */

.container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-inline: 3rem;
}

.container__image {
    max-width: 100%;
}

.container__list {
    padding-inline-start: 0;
    list-style-type: none;
    color: var(--neutral-gray-500);
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.container__heading3 {
    color: var(--neutral-gray-700);
    font-size: 1.3rem;
}

/* || Features */

.features-list * + * {
    margin-block-start: 2rem;
}

.features-list {
    list-style-type: none;
    padding: 0 3rem;
    margin-top: 3.5rem;
}

.features__item {
    font-size: 0.85rem;
    color: var(--neutral-gray-500);
    text-align: center;
}

.features__title {
    font-size: 1.5rem;
    margin-block-end: 1.25rem;
    color: var(--neutral-gray-700);
}

/* || Companies' Logos */

.logos {
    margin-block: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.logos__item {
    max-width: 100%;
}

/* || Footer */

.footer {
    background-color: var(--neutral-cool-gray-100);
    margin-block-start: 8rem;
    padding-block: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer__logo {
    width: 13%;
}

.footer__links {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__item {
    text-align: center;
}

.footer__link {
    color: var(--neutral-gray-700);
    text-decoration: none;
}

.socials {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* || Layout Breakpoints */

/* 576px */
@media screen and (min-width: 36em) {
    .header__logo {
        width: 30%;
    }

    .section,
    .container,
    .features-list {
        padding-inline: 8rem;
    }

    .footer__logo {
        width: 10%;
    }
}

/* 768px */
@media screen and (min-width: 48em) {
    .header__logo {
        width: 25%;
    }

    .section {
        padding-inline: 10rem;
    }

    .section__footer {
        padding-inline: 2rem;
    }

    .container,
    .features-list {
        padding-inline: 12rem;
    }
}

/* 992px */
@media (min-width: 62em) {
    .header__logo {
        width: 20%;
    }

    .section,
    .features-list {
        padding-inline: 16rem;
    }

    .section__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .section__action-button {
        flex: 1;
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: start;
        padding-inline: 0;
    }

    .container__image {
        width: 40%;
        position: relative;
        right: 2.5rem;
    }

    .container__list {
        font-size: 0.75rem;
        text-align: left;
        padding-inline: 2rem 20%;
        margin-top: 1rem;
    }

    .container__heading3 {
        font-size: 1.1rem;
    }

    .features-list {
        display: flex;
        padding-inline: 4rem;
        align-items: baseline;
        gap: 5rem;
    }

    .features__item {
        flex: 1;
    }

    .logos {
        flex-direction: row;
        justify-content: center;
    }

    .footer {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__logo {
        width: 8%;
    }

    .footer__links {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        column-gap: 6rem;
    }

    .footer__item {
        text-align: left;
    }
}

/* 1200px */
@media (min-width: 75em) {
    .header__logo {
        width: 15%;
    }

    .section {
        padding-inline: 22rem;
    }

    .container__list {
        padding-block-start: 1.5rem;
        padding-inline-end: 27%;
    }

    .footer__logo {
        width: 5%;
    }
}

/* 1400px */
@media (min-width: 87.5em) {
    .section {
        padding-inline: 28rem;
    }

    .section__footer {
        padding-inline: 4rem;
    }

    .container__list {
        padding-inline-end: 30%;
    }

    .features-list {
        gap: 12rem;
    }
}
