/* || General Styles */

:root {
    --primary-green-500: hsl(171, 66%, 44%);
    --primary-blue-100: hsl(233, 100%, 69%);
    --neutral-gray-700: hsl(210, 10%, 33%);
    --neutral-gray-500: hsl(201, 11%, 66%);
    --font-base-size: 18px;
    --main-font-weight-regular: 400;
    --main-font-weight-semibold: 600;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: var(--font-base-size);
    font-weight: var(--main-font-weight-regular);
    font-style: normal;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: var(--main-font-weight-semibold);
    font-style: normal;
    margin: 0;
}

p {
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
