// Primary
$red: hsl(0, 100%, 68%);
$red-on-hover: hsl(0, 100%, 79%);

// Neutral
$very-darkblue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

// Other
$white: hsl(0, 0%, 100%);
$footer-link-color: hsl(228, 45%, 44%);
$transparent-black: hsla(0, 0%, 0%, 0);